<form action="http://localhost:3000/update_actor/<%=@actor.id %>">
  <div>
    <label for="actor_name">Actor Name:</label>
    <input id="actor_name" type="text" name="name" value="<%= @actor.name %>">
  </div>
  <div>
    <label for="bio">Bio:</label>
    <input id="bio" type="text" name="bio" value="<%= @actor.bio %>">
  </div>
  <div>
    <label for="dob">Date of Birth:</label>
    <input id="dob" type="text" name="dob" value="<%= @actor.dob %>">
  </div>
  <div>
    <label for="photo_image_url">Image URL:</label>
    <input id="photo_image_url" type="text" name="image_url" value="<%= @actor.image_url %>">
  </div>
  <div>
    <button>Update Actor</button>
  </div>
</form>
